//Variables
$default-padding: 22px;
$brand-color-primary: #48B553; //Vend green
$text-color: #000;
$text-color-mute: lighten( $text-color, 70% )

//Bootstrap
// $icon-font-path:            "/font/bootstrap/";